body {
  margin: 0;
  padding: 2em;
  font-family: Helvetica, Arial, sans-serif;
  color: #111;
}

a {
  text-decoration: none;
}

table {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
  border-collapse: collapse;
}

tr.task-completed {
  color: #ccc;
  text-decoration: line-through;
}

td, th {
  padding: 3px;
  text-align: left;
}

th {
  color: #333;
}

td {
  border-top: 1px solid #73a8ff;
}

label {
  display: block;
  color: #333;
}

input[type=text], textarea {
  color: #333;
  padding: 3px;
}

input[type=text] {
  width: 20em;
}

textarea {
  width: 30em;
  height: 4em;
}